<h1>{{ pageTitle }}</h1>
    
    <h2>Products in Cart:</h2>
    <ul>
        {{#each cart.products}}
            <li>
                <div>
                    {{this.product.title}}
                </div>
                <div>
                    <img src="" alt="">
                </div>
                <div>
                    Price: ${{this.product.price}}
                </div>
                <div>
                    Quantity: {{this.quantity}}
                </div>
                <a href="/products/{{this.product._id}}">See datails</a>
            </li>
            
        {{/each}}
    </ul>