<h1>{{ pageTitle }}</h1>

<h2>Products in Cart:</h2>
{{#if productsInCart}}
<table>
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Price</th>
            <!-- Agrega más columnas según sea necesario -->
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{ this.productId }}</td> 
            <td>{{ this.quantity }}</td> 
            <td onClick="deleteItem('{{this.cartId}}','{{this.productId}}')">❌</td> 
        </tr>
        {{/each}}
    </tbody>
</table>
<button onclick="checkout('{{cartId}}')">Checkout</button>
<button onclick="clearCart('{{cartId}}')">Clear Cart</button>

{{else}}
Your cart is empty...
{{/if}}

<script src="/static/js/cart.js"></script>