<div class="productContainer">
    <div class="productLeft">
        <img class="productImg"src={{this.product.thumbnail}} alt="">
    </div>
    <div class="productRight">
        <h1 class="productTitle">{{this.product.title}}</h1>
        <h2 class="productPrice">${{this.product.price}}</h2> 
        <h3 class="productStock">Stock: {{this.product.stock}}</h3> 
        <p class="productDescription">{{this.product.description}}</p>
    </div>
</div>
        

