{{!-- {{#if isAdmin}}
<div class="modify-products">
    <h2>Modify Products</h2>
    <form>
        <div>
            <label for="">ID</label>
            <input type="text" name="ID" placeholder="ID">
        </div>
        <div>
            <label for="">Title</label>
            <input type="text" name="title" placeholder="Title">
        </div>
        <div>
            <label for="">Price</label>
            <input type="text" name="price" placeholder="Price">
        </div>
        <div>
            <label for="">Stock</label>
            <input type="text" name="stock" placeholder="Stock">
        </div>
        <div>
            <label for="">Category</label>
            <input type="text" name="category" placeholder="Category">
        </div>
        <div>
            <label for="">Description</label>
            <input type="text" name="description" placeholder="Description">
        </div>
        <div>
            <label for="">Image</label>
            <input type="text" name="image" placeholder="Image">
        </div>
    </form>
</div>
{{/if}} --}}

{{#if totalPages}}
<div class="productsBody">
    <div class="cardContainer">
        {{#each docs}}
        <div class="card">
                <p class="title">{{title}}   </p>
                <img  class="img"src={{thumbnail}} alt="">
                <a class="seeDetails"href="/products/{{_id}}">See datails</a>
                <div class="priceStock">
                    <p class="stock">In stock: {{stock}}</p>
                    <p class="price">${{price}}</p> 
                </div>
                <p>Owner: {{owner}}</p>
                
                <button class="addToCart" onclick="addToCart('{{id}}')">Add to Cart</button>
                
        </div>
        {{/each}}
    </div>
    {{else}}
    Nothing to show... <br>
    {{/if}}
    <a {{#if hasPrevPage}} href="/products/?limit={{limit}}&page={{prevPage}}" {{/if}}>Prev</a>
    [{{page}}]
    <a {{#if hasNextPage}} href="/products/?limit={{limit}}&page={{nextPage}}" {{/if}}>Next</a><br>
    Page: <input type="text"> <button onclick="irAPag({{limit}})">ir</button>
</div>

<script>
    function irAPag(limit){
        const pagDeseada = document.querySelector('input').value || 1
        window.location = `/api/products/?limit=${limit}&page=${pagDeseada}`
    }
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/static/js/home.js"></script>
