{{#if totalPages}}
<div class="cardContainer">
    {{#each docs}}
    <div class="card">
            <p class="productTitle">{{this.title}}   </p>
            <img  class="productImg"src={{this.thumbnail}} alt="">
            <a class="seeDetails"href="/api/products/{{this._id}}">See datails</a>
            <div class="priceStock">
                <p class="stock">In stock: {{this.stock}}</p>
                <p class="price">${{this.price}}</p> 
            </div>
            <form action="/api/carts/{{cartId}}/products/{{this._id}}" method="post">
                <input type="hidden" name="cartId" value="{{cartId}}">
                <button class="addToCart" type="submit">Add to Cart</button>
            </form>
    </div>
    {{/each}}
</div>
{{else}}
Nada para mostrar... <br>
{{/if}}
<a {{#if hasPrevPage}} href="/api/products/?limit={{limit}}&page={{prevPage}}" {{/if}}>Prev</a>
[{{page}}]
<a {{#if hasNextPage}} href="/api/products/?limit={{limit}}&page={{nextPage}}" {{/if}}>Next</a><br>
Pagina: <input type="text"> <button onclick="irAPag({{limit}})">ir</button>
<script>
    function irAPag(limit){
        const pagDeseada = document.querySelector('input').value || 1
        window.location = `/api/products/?limit=${limit}&page=${pagDeseada}`
    }
</script>