<div class="login">
    <h1>Profile</h1>
    <div class="justify-center">
        <img class="avatar" src="/static/imgs/avatar.png" alt="">
        <p><b>{{first_name}} {{last_name}}</b></p>
    </div>
    <div class="profileInfo">
        <p><img src="/static/imgs/email.png" alt="">{{email}}</p>
        <p>Role: {{rol}} <img class="switchUser" onclick="switchRole('{{userId}}')" src="/static/imgs/switchUser.png" alt=""></p> 
        <p>Cart: {{cart}}</p>
    </div>

   <a class="editProfile" href="/edit">Edit your info</a>
    <button onclick="resetPassword('{{token}}')">Reset password</button>
    
    <a class="logout" id="logout" href="#">Logout</a>
</div>

<script src="/static/js/profile.js"></script>